#app_dealers_section .table > tbody > tr > td, 
#app_dealers_section .table > tbody > tr > th, 
#app_dealers_section .table > tfoot > tr > td, 
#app_dealers_section .table > tfoot > tr > th, 
#app_dealers_section .table > thead > tr > td, 
#app_dealers_section .table > thead > tr > th{
	padding: 4px 15px;
	vertical-align: middle;
}
#app_dealers_section .table .btn{
	padding: 4px 8px;
}
#app_dealers_section .code{
	text-align: center;
}
#app_dealers_section .name{
	
}
#app_dealers_section .accr{
	text-align: center;
	font-weight: bold;
}
#app_dealers_section td.accr{
	color: #660033;
}
#app_dealers_section .mail{

}
#app_dealers_section .mail span.edit{
	font-size: 14px;
	font-weight: normal;
}
#app_dealers_section .btns{
	text-align: center;
}	
#app_dealers_section .register_dealer{
	margin-bottom: 20px;
}
#app_dealers_section .table input{
	width: 70%;
}

.modal-content{
	border-radius: 0px;
}
.modal-footer{
	border: none;
}

.btnpmi{
	cursor: pointer;
}