#app_single ul li a{
	color: #660033;	
}
#app_single .page-header button,
#app_single_profile .page-header button{
	float: right;
}
#app_single .table_title{
	font-size: 18px;
	text-align: left;
	background-color: #660033;
	font-weight: bold;
	padding-left: 15px;
	color: #fff;
}
#app_single .customer_name,
#app_single_profile .customer_name{
	color: #660033;
	font-weight: bold;
}
#app_single_profile .profile_process_buttons{
	text-align: center;
}
#app_single .cust_main_info{
	margin-bottom: 25px;
}
#app_single .cust_main_info b{
	font-size: 18px;
}
#app_single .cust_main_info .cust_acct,
#app_single .cust_main_info .cust_dealer{
	color: #660033;
	font-weight: bold;
}
#app_single .cust_main_info .cust_date,
#app_single .cust_main_info .cust_process{
	color: #660033;
	font-weight: normal;
}

#app_single .cust_main_info .process .robot_stage{
	text-transform: uppercase;
	font-size: 12px;
	background-color: #660033;
	padding: 3px 8px;
	color: #fff;
}
#app_single #livereport,
#app_single #account,
#app_single #welcome,
#app_single #profile,
#app_single #support,
#app_single #customerhelp{
	border-top: none;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 25px;
}
#app_single .footer{
	margin-top: 25px;
	text-align: center;
}
#app_single .modal-modal-dialog,
#app_single .modal-content{
	border-radius: 0px;
}
#app_single .modal-body{
	text-align: center;
}