/** API PLATFORM STYLES **/
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

body{
    font-family: 'Quattrocento Sans';
    font-size: 16px;
}

.btnpmi{
    background-color: rgb(116, 29, 88);
    color: rgb(255, 255, 255);


    transition:All 0.3s ease-out;
    -o-transition:All 0.3s ease-out;
    -moz-transition:All 0.3s ease-out;
    -webkit-transition:All 0.3s ease-out;
}

.btnpmi:focus,
.btnpmi:hover,
.btnpmi:active,
.btnpmi:visited{
    background-color: #350132 !important;
    color: rgb(255, 255, 255) !important; 

    transition:All 0.3s ease-out;
    -o-transition:All 0.3s ease-out;
    -moz-transition:All 0.3s ease-out;
    -webkit-transition:All 0.3s ease-out;
}

/* CONTENT STYLES */
.pmititles {
    font-size: 28px;
    color: rgb(116, 29, 88);
    font-weight: 300;
    border-bottom: 1px solid #741d5a;
}
.pmisubtitles {
    font-size: 22px;
    color: rgb(116, 29, 88);
    font-weight: 300;
    border-bottom: 1px solid #741d5a;
}



/*** PAGE HEADER ***/
.page_header {
    color: rgba(255,255,255,1);
    background:      -o-linear-gradient(45deg, #660033 0%,#741D58 100%);
    background:     -ms-linear-gradient(45deg, #660033 0%,#741D58 100%);
    background:    -moz-linear-gradient(45deg, #660033 0%, #741D58 100%);
    background: -webkit-linear-gradient(45deg, #660033 0%,#741D58 100%);
    background:  linear-gradient(45deg, #660033 0%,#741D58 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#660033), color-stop(100%,#741D58));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660033', endColorstr='#741D58',GradientType=1 );
    
    position: fixed;
    width: 100%;
    top: 0px;

    z-index: 1030;
}
.page_header .navbar {
  margin-bottom: 0;
  min-height: 50px;
  border-radius: 0;
  border: none;
}
.page_header .navbar-brand{
    color: #fff;
    font-size: 22px;
    text-shadow:none;
}
.page_header .navbar-toggle .icon-bar{
    background-color: #fff;
}
.page_header .navbar-nav > li > a{
    font-size: 16px;
    text-shadow:none;
    color: #fff;
}
.page_header .navbar-nav > li > a:hover,
.page_header .navbar-nav > li > a:focus,
.page_header .nav .open > a, 
.page_header .nav .open > a:focus, 
.page_header .nav .open > a:hover{
    background-color: #660033;
    color: #ffffff;
}
.page_header .apps_stats{
    color: #000000;
}
.page_header .apps_stat{
    padding: 10px 15px 10px 5px;
}
.page_header .apps_stat .icon{
    padding: 5px;
}
.page_header .apps_stat .icon i{
    font-size: 18px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 22px;
}
.page_header .apps_stat .text{
    padding-left: 5px;
}
.page_header .apps_stat .number{
    float: right;
    font-weight: bold;
    margin-top: 2px;
}
.page_header .apps_stat a{
    text-decoration: none;
}

.apps_count_unfinished{
    background-color: rgba(185,255,77,0.3);
    padding: 1px 10px 0px;
    margin: 0px 5px;
}


@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 450px) {

}


/*** PAGE FOTTER ***/
.page_footer {
    background-color: rgba(255,255,255,0.9);
    color: #350132;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.page_footer span{
    border-top: 1px solid #350132;
    padding: 10px; 
}

@media only screen and (max-width: 1199px) {     

}
@media only screen and (max-width: 991px) {     

}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 450px) {
    .page_footer {
        font-size: 10px;
    }
}


/* Admin Content */
.admin_content{
    margin: auto;
    width: 95%;
}

#h50px{
    height: 50px;
}

/* Login Page */
.login{
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(116, 29, 88, 0.5);
    padding: 30px 80px 50px;
}
.form-control-feedback{
    right: 20px;
}
@media only screen and (max-width: 767px) {
    .login{
        margin-top: 0px;
        margin-bottom: 20px;
        box-shadow: none;
        padding: 0px 10px 50px;
    }
}

/* SIDEBAR NAV */
.side_bar{
    background-color: #660033;
    position: fixed;
}

/*--------------------------------------------------
    [9. Back To Top]
----------------------------------------------------*/
#topcontrol {
    color: #fff;
    z-index: 99;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #222;
    position: relative;
    right: 14px !important;
    bottom: 11px !important;
    border-radius: 3px !important;
}

#topcontrol:after {
    top: -2px;
    left: 8.5px;
    content: "\f106";
    position: absolute;
    text-align: center;
    font-family: FontAwesome;
}

#topcontrol:hover {
    color: #fff;
    background: #741d5a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*//pmi alerts*/
.alert{
    border-radius: 0px;
}
.alertpmi hr {
    border-left-color: rgb(116, 29, 88);
}

.alertpmi {
    color: #350132;
    background-color: #FFFFFF;
    border-color: rgb(116, 29, 88);
    border-left-width: 10px;
}

.inputpmi {
    border-color: rgb(116, 29, 88)!important;
    background-color: #FFF!important;
}

.pmi_modal_header {
    background-color: rgb(116, 29, 88); 
    color: #FFF;
}

.pmi-panel-heading {
    background-color: #660033 !important;
    border-bottom: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    margin: 0;
    padding: 8px 15px;
    border-radius: 6px;
    color: #FFF;
}