#app_settings .pagination>.active>a, 
#app_settings .pagination>.active>a:focus, 
#app_settings .pagination>.active>a:hover, 
#app_settings .pagination>.active>span, 
#app_settings .pagination>.active>span:focus, 
#app_settings .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #680439;
    border-color: #f5f5f5;
}

#app_settings .key{
	display: none;
}

#app_settings .modal-dialog,
#app_settings .modal-content{
	border-radius: 0px;
	border: none;
}

#app_settings .modal-body{
	text-align: center;
}